@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background-color: rgb(17, 17, 17);
  color: white;
  /* background-image: url(../public/github.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 40%; */
  font-family: 'Poppins', sans-serif;
}

a {
  color:#405cf5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f5f5f500;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.App {
  text-align: center;
}

.title{
  font-size: 72px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.logo {
  width: 100px;
}

.pagination-container {
  display: inline-block;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#000000be;
}


.pagination-container > ul > li:hover:not(.selected):not(.disabled) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination-container > ul > li {
  list-style-type: none;
  color: black;
  float: left;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.pagination-container > ul > li > a {
  display: block;
  padding: 8px 16px;
  color: white;
}

.pagination-container > ul .selected{
  background-color: #405cf5;
  color: white;
  border-radius: 5px;
}

.pagination-container > ul .disabled{
  color: darkgray;
}

.results-table {
  display: flex;
  justify-content: center;
}

.pagination-items-per-page-container{
  width: 100%;
  margin-top: 20px;
  margin-bottom: -20px;
}


.button-in-cell {
  margin-left: 20px;
  height: 30px;
  width: fit-content;
  font-size: 13px;
}

.modal {
  border-radius: 10px;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal > div > img {
  border-radius: 5px;
}

.modal-close {
  margin-bottom: 20px;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
  width: 90%
}

.form-container > form {
  width: 100%;
}

form > label > p {
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
}

form > label > input {
  border: 1px solid darkgray;
  height: 44px;
  width: 40%;
  max-width:100%;
  border-radius: 6px;
  font-size: 16px;
  text-indent: 10px;
}

form > label > select {
  border: 1px solid darkgray;
  height: 44px;
  width: 40%;
  max-width:100%;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}


button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405bf591;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

#results {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#results td, #results th {
  border: 1px solid rgba(0, 0, 0, 0.541);;
  padding: 8px;
}

#results tr:nth-child(even){background-color: rgba(34, 34, 34, 0.493);;}

#results tr:hover {background-color: rgb(0, 0, 0);;}

#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #405bf591;
  color: white;
}

.alert {
  margin-top:2px;
  color: red;
  font-weight:400;
  font-size: 14px;
}

.loader {
  margin-top: 100px;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #405cf5;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 